.main_content
	-flash.each do |name, msg|
		= content_tag :div, msg, class: "alert alert-info"
	-flash.discard
	.row
		.col-md-4
			.recipe_border
				.image_wrapper
					= image_tag @recipe.image.url(:medium)	

		.col-md-8
			#recipe_info
				= link_to dislike_recipe_path(@recipe), method: :put, class: "btn btn-lg customcolor pull-right" do
					%span.glyphicon.glyphicon-thumbs-down
						= @recipe.get_downvotes.size

				= link_to like_recipe_path(@recipe), method: :put, class: "btn btn-lg customcolor btn-space pull-right" do
					%span.glyphicon.glyphicon-heart
						= @recipe.get_upvotes.size	

				%h1= @recipe.title.titleize
				%p
					Submitted by
					= @recipe.user.email.capitalize
				%br
				%p.description= @recipe.description.capitalize

	.row
		.col-md-6
			#ingredients
				.description
					%h1 Ingredients
					%ul
						- @recipe.ingredients.each do |ingredient|
							%li= ingredient.name.capitalize
		.col-md-6
			#directions
				.description
					%h1 Instructions
					%ul
						- @recipe.directions.each do |direction|
							%li= direction.step.capitalize

	.row
		.col-md-12
			= link_to "Back", :back, class: "btn btn-custom"
			- if user_signed_in? && ((@recipe.user.id == current_user.id) || current_user.admin?)
				= link_to "Edit", edit_recipe_path, class: "btn btn-custom pull-right" 
				= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-custom btn-space pull-right"

	%br
	%br
	%br

	.row
		#comments
			%h2
				= @recipe.comments.count 
				Comments
			.comment
				= render :partial => @recipe.comments

			= simple_form_for [@recipe, Comment.new]  do |f|
				.row
					.col-md-2
						#comments
							.text
								Comment on the recipe:
					.col-md-10
						.field
							= f.text_area :body, class: "form-control"
				= f.submit "Add Comment", class: "btn btn-custom pull-right"